In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
conn = sqlite3.connect("test.db")

In [3]:
curr = conn.cursor()

In [4]:
curr.execute('''
                create table employee(name varchar(20) primary key, age int, salary int, email varchar(50));''')

In [5]:
curr.execute('''
                insert into employee VALUES('Richa',20,23000,'richa12pp@gmail.com');''')

In [6]:
curr.execute('''
                select * from employee;''')

In [7]:
curr.fetchall()

[('Richa', 20, 23000, 'richa12pp@gmail.com')]

In [8]:
curr.execute('''
                insert into employee values('Rohann',21, 20000,'rohann@gmail.com'),('Rahul',21,42000,'rahul@gmail.com');''')

In [9]:
curr.execute("PRAGMA table_info(employee);").fetchall()

[(0, 'name', 'varchar(20)', 0, None, 1),
 (1, 'age', 'int', 0, None, 0),
 (2, 'salary', 'int', 0, None, 0),
 (3, 'email', 'varchar(50)', 0, None, 0)]

In [10]:
curr.execute('''
                insert into employee values(?,?,?,?)''',('lakshma',23,30000,'lakshma@gmail.com'))

In [24]:
curr.execute('''
                select * from employee''')
curr.fetchall()

[('Richa', 20, 23000, 'richa12pp@gmail.com'),
 ('Rohann', 21, 20000, 'rohann@gmail.com'),
 ('Rahul', 21, 42000, 'rahul@gmail.com'),
 ('lakshma', 23, 30000, 'lakshma@gmail.com')]

In [25]:
name = input('enter your name')
age = int(input('enter your age'))
salary = int(input('enter your salary'))
email = input('enter your email')

enter your nameaman
enter your age20
enter your salary45000
enter your emailaman@gmail.com

In [26]:
curr.execute('''
                insert into employee values(?,?,?,?)''',(name,age,salary,email))

In [27]:
curr.execute('''
                select * from employee''')
curr.fetchall()

[('Richa', 20, 23000, 'richa12pp@gmail.com'),
 ('Rohann', 21, 20000, 'rohann@gmail.com'),
 ('Rahul', 21, 42000, 'rahul@gmail.com'),
 ('lakshma', 23, 30000, 'lakshma@gmail.com'),
 ('aman', 20, 45000, 'aman@gmail.com')]

In [28]:
conn.commit()

In [29]:
conn.close()